<?xml version="1.0" encoding="UTF-8"?>
<odoo>
  <data>
    <menuitem id="menu_trakka_returns_root"
              name="Returns OS"
              sequence="40"/>

    <menuitem id="menu_returns_cases"
              name="Return Cases"
              parent="menu_trakka_returns_root"
              sequence="10"
              action="trakka_returns.action_returns_cases"/>

    <menuitem id="menu_returns_policies"
              name="Policies"
              parent="menu_trakka_returns_root"
              sequence="20"
              action="trakka_returns.action_returns_policies"/>
  </data>
</odoo>
